<!DOCTYPE html>
<html>
  <head>
    <title><%= t "title" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <header>
      <section class="main">
        <div class="container">
          <%= yield %>
        </div>
      </section>
      <section class="footer">
      </section>
    </header>
  </body>
</html>
