<%= paginate users, remote: true %>
<% users.each_with_index do |user, index| %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= user.first_name %><%= user.last_name%></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
    <td><%= user.memo %></td>
  </tr>
<% end %>
