<div class="navbar-form navbar-right">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name),
    html: {class: "login-form"}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true,
        placeholder: t("user.login_screen.fields.email"), class: "form-control", type: "text" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, autofocus: true,
        placeholder: t("user.login_screen.fields.password"), class: "form-control", type: "password" %>
    </div>
    <div class="form-group text-center">
      <%= f.submit t("user.login_screen.sign_in"), class: "form-control" %>
    </div>
  <% end %>
</div>